<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Mortality Rates</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Analysis of US Mortality Rates and Causes</h1>
      <p><a class="btn btn-primary btn-lg" href="/etl" role="button">Process ETL</a></p>
    </div>

    <!-- Get to scraping -->
    <div class="row" id="dashboard">
      <div class="col-md-12">
        <h2>Dashboard</h2>
        <h4 class="heading">{{news_title}}</h4>
        {{news_p}}
      </div>
    </div>


  </div>
</body>

</html>